.errorMessage {
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.controls {
    margin: 10px;
    cursor: pointer;
}

button {
    background: none;
    border: 1px solid black;
    padding: 3px 8px;
}

.editContent {
    display: flex;
    flex-direction: column;
}