.note_main{
    border: 1px solid #000;
    flex-basis: 18%;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* front end -> src -> components -> memoroids, notes */
/* so inside app there are components now -> that is memoroid.jsx and notes.jsx */
/* so na ulla poi paatha irukum? content */