.pola{
    border: 1px solid #000;

    flex-basis: 18%;
    align-items: flex-start;

    margin-top: 15px;
    margin-bottom: 5px;
    padding: 20px;
    min-height: 250px;
}

/* sweatheart  */
.heart { 
    text-align: right; 
} 

