.login_container {
    display: grid;
    place-items: center;
    background-color: var(--creme);
    height: 100vh;
}

.login_main {
    background-color: var(--buu);
    width: 27.5%;
    border-radius: 7px;
    border: 1px solid var(--black);
}

.login_form {
    background-color: var(--gey); 
    text-align: left;
    padding: 5px 30px;
    margin-bottom: 6px;
    display: flex;
    flex-direction: column;
}

.form_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 5px 10px 5px 30px;
    font-family: "Jura", sans-serif;
    font-weight: lighter;
    font-size: 12px;
    color: whitesmoke;
}

.form_header button {
    background-color: red;
    width: 6%;
    aspect-ratio: 1/1;
    border-radius: 4px;
    border: 1px solid black;
    color: black;
    font-size: 20px;
    border: 0; 
}

.form_body {
    margin-top: 30px;
    /* margin-bottom: 35px; */
    gap: 20px;
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form_item label {
    display: block;
}

.form_item input {
    height: 35px;
    width: 100%;
    outline: 0;
    padding-left: 10px;
    border: 0.3px solid var(--black);
    box-shadow: 2px 4px 2px 0 var(--black);
}

.pw_hint {
    border: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.actions {
    display: flex; 
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 30px;
}

.actions button {
    padding: 3px 8px;
    background-color: var(--big-gey);
    color: whitesmoke;
    font-size: 13px;
    outline: 0;
    border: 0;
    box-shadow: 2px 4px 2px 0 var(--black);
}





