@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&family=Rubik+Glitch&display=swap');

#root {
    --creame: #FEFCF6; 
    --buu: #4B3DA8;
    --big-gey: #808080;
    --gey: #D9D9D9;
    --black: rgba(30, 30, 30, 0.8);
}

.app_main {
    width: 100vw;
    height: 100vh;
    background: var(--creame);    
    padding: 0 5%;
    font-family: "Khula", sans-serif;
}

.polas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
