.PopUp .OuterBox {
    height: 140px;
    /* width: 340px; */
    background-color: var(--buu);
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 1.4px;
    border-radius: 3px;
}

.PopUp .OuterBox > .close {
    background-color: red;
    margin: 1.5px; 
    margin-left: auto;
    text-align: center;
    font-weight: bolder;
    border-radius: 6px;
    width: 25px;
}

.PopUp .InnerBox {
    margin: 2.6px;
    height: 100%;
    background-color: var(--gey);
    padding: 0 20px;
    border-radius: 2.5px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.PopUp .InnerBox p {
    font-weight: 700;
}

.PopUp .InnerBox button {
    background-color: var(--gey);
    box-shadow: 2px 4px 2px 0 var(--black);
    border: 1px solid black;
    padding: 2px 10px;
    border-radius: 4px;
}

.PopUp .OuterBox {
    transform-origin: center;  
    animation: pop 0.2s linear 0.1s both;
}

@keyframes pop {
    from { transform: scale(0); }
    to   { transform: scale(1); }
}
