img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.memoroid_main {
    border: 1px solid black;
    padding: 20px;
    /* background-color: #DDE3E9; */
}

h1 {
    /* text-align: center; */
    font-size: 18px;
}

p {
    font-size: 14px;
}

.dt {
    font-size: 9px;
    color: rgba(0, 0, 0, 0.334);
}