.navbar_main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}

.navbar_main .account {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.navbar_main .logo p {
    font-size: 30px;
    font-weight: 500;
    font-family: "Rubik Glitch", system-ui;
}

.navbar_main .account a {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: var(--black);
}
