.navbar_main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}

.navbar_main .account {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.navbar_main .logo p {
    font-size: 30px;
    font-weight: 500;
    font-family: "Rubik Glitch", system-ui;
}

.navbar_main .account a {
    text-decoration: none;
    color: var(--black);
}

.account p {
    cursor: pointer;
    font-size: 16px;
    color: var(--black);
}

.material-symbols-outlined {
    color: red;
    font-size: 17px;
    margin-bottom: 3px;
    cursor: pointer;
}