.navbar_main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar_main .account {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}